body,html{
    border: 0;
    margin:0;
    background-color: rgb(224, 228, 17);
}

#events{
    height:100%;
    padding-bottom:15px;
}


.head{
    text-align: center;
    font-family: "She Smiles";
}

.container{
    position: relative;
    overflow: hidden;

}


.eventImg{
    width:190px;height:200px;
}

.text-block{
    position: absolute;
    left:-23px;
    bottom:0px;
    background-color: black;
    opacity: 0.7;
    color: white;
    padding-top: 310px;
    padding-bottom:90px;
    padding-left:21px;
    padding-right:21px;
    transform:translateX(20%);
}

.cultural{
    padding-left:28px;
    padding-right:28px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} 


#tech{
    background-color: rgb(10, 6, 131);
}

shadow
{
    display:block;
    position:relative;
}

.allImg {
    width: 320px;
    height: 320px;
}

.shadow:before
{
    display:block;
    content:'';
    position:absolute;
    width:320px;
    height:320px;
    -moz-box-shadow:inset 0px 0px 6px 6px rgb(224, 228, 17);
    -webkit-box-shadow:inset 0px 0px 6px 6px rgb(224, 228, 17);
    box-shadow:inset 0px 0px 6px 6px rgb(224, 228, 17);
}